/* @group 320 And Up */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
	font-family: sans-serif;
	color: #222;
}

body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}

p,ol,ul,dl,address {
	margin-bottom: 1.5em;
	font-size: 1em; /* 16 / 16 = 1 */
}

p {
	hyphens: auto;
}

ul,ol {
	margin: 0;
	padding: 0;
}

li ul,li ol {
	margin: 0;
	font-size: 1em; /* 16 / 16 = 1 */
}

dl,dd {
	margin-bottom: 1.5em;
}

dt {
	font-weight: normal;
}

blockquote {
	margin: 0;
	border-left: 1px solid rgb(200,200,200);
	font-style: italic;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

abbr[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

b,strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid rgb(204,204,204);
}

ins {
	background-color: rgb(240,240,240);
	color: rgb(0,0,0);
	text-decoration: none;
}

mark {
	background-color: rgb(240,240,240);
	color: rgb(0,0,0);
	font-style: italic;
	font-weight: bold;
}

pre,code,kbd,samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: .875em;
	line-height: 1.5;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before,q:after {
	content: "";
	content: none;
}

small {
	font-size: 1em; /* 16 / 16 = 1 */
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

a {
	color: rgb(23,119,175);
}

a:visited {
	color: rgb(40,40,40);
}

a:focus {
	outline: thin dotted;
	color: rgb(0,0,0);
}

a:hover,a:active {
	outline: 0;
}

figure {
	margin-bottom: 1.5em;
}

figure img,figure object,figure embed {
	margin-bottom: .75em;
	max-width: 100%;
}

figcaption {
	display: block;
	font-weight: normal;
}

img {
	border: 0;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.4em;
	width: 100%;
	font-size: .875em; /* 14 / 16 = .875 */
}

th,td,caption {
	padding: .25em 10px .25em 5px;
}

tfoot {
	font-style: italic;
}

caption {
	background-color: transparent;
}

form {
	margin: 0;
}

fieldset {
	margin-bottom: 1.5em;
	padding: 0;
	border-width: 0;
}

legend {
	*margin-left: -7px;
	padding: 0;
	border-width: 0;
}

label {
	font-weight: normal;
	cursor: pointer;
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button,input {
	line-height: normal;
	*overflow: visible;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
}

input[type="checkbox"],input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: none;
}

/* @group Colors for form validity */

input:valid,textarea:valid {
	/* Styles */
}

input:invalid,textarea:invalid {
	-webkit-box-shadow: 0 0 2px rgb(255,0,0);
	-moz-box-shadow: 0 0 2px rgb(255,0,0);
	box-shadow: 0 0 2px rgb(255,0,0);
}

.no-boxshadow input:invalid,.no-boxshadow textarea:invalid {
	background-color: rgb(240,221,221);
}

/* @end */

/* @group Clearfix */

.clearfix:before,.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

/* @end */

/* @group Vendor-Specific */

html {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgb(52,158,219);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.clearfix {
	zoom: 1;
}

::-webkit-selection {
	background: rgb(23,119,175);
	color: rgb(250,250,250);
	text-shadow: none;
}

::-moz-selection {
	background: rgb(23,119,175);
	color: rgb(250,250,250);
	text-shadow: none;
}

::selection {
	background: rgb(23,119,175);
	color: rgb(250,250,250);
	text-shadow: none;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
}

::-webkit-input-placeholder {
	font-size: .875em;
	line-height: 1.4;
}

input:-moz-placeholder {
	font-size: .875em;
	line-height: 1.4;
}

.lt-ie7 img {
	-ms-interpolation-mode: bicubic;
}

input[type="checkbox"],input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

p {
	/* http://www.w3.org/TR/css3-text/#hyphenation */
	-webkit-hyphens: auto;
	-webkit-hyphenate-character: "\2010";
	-webkit-hyphenate-limit-after: 1;
	-webkit-hyphenate-limit-before: 3;
	-moz-hyphens: auto;
}

/* @end */

/* @group Non-semantic helper classes */

.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0;
}

.ir br {
	display: none;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visuallyhidden {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	position: static;
	margin: 0;
	height: auto;
	width: auto;
	overflow: visible;
	clip: auto;
}

.invisible {
	visibility: hidden;
}

/* @end */

/* @end */

/* @group Media-queries */

@media print {
	* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important;
}

@page {
	margin: 0.5cm;
}

h2,h3 {
	orphans: 3;
	widows: 3;
	page-break-after: avoid;
}

p {
	orphans: 3;
	widows: 3;
}

pre,blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

a,a:visited {
	color: #444 !important;
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

a[href^="javascript:"]:after,a[href^="#"]:after {
	content: "";
}

img {
	max-width: 100% !important;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr {
	page-break-inside: avoid;
}

.ir a:after {
	content: "";
}

}


/* 480px */
@media only screen and (min-width: 480px) {



}

/* 600px */
@media only screen and (min-width: 600px) {



}

/* 768px */
@media only screen and (min-width: 768px) {
	/* @group SimpleGrid */
	
	/* Containers */
	body {
		font-size: 0.875em;
		padding: 0;
	}
	
	.grid {
		margin: 0 auto;
		padding: 0 10px;
		width: 700px;
	}
	
	.row {
		clear: left;
	}
	
	/* Slots Setup */
	.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5,.slot-0-1,.slot-0-1-2,.slot-0-1-2-3,.slot-0-1-2-3-4,.slot-0-1-2-3-4-5,.slot-1-2,.slot-1-2-3,.slot-1-2-3-4,.slot-1-2-3-4-5,.slot-2-3,.slot-2-3-4,.slot-2-3-4-5,.slot-3-4,.slot-3-4-5,.slot-4-5,.slot-6,.slot-7,.slot-8,.slot-9,.slot-6-7,.slot-6-7-8,.slot-6-7-8-9,.slot-7-8,.slot-7-8-9,.slot-8-9 {
		display: inline;
		float: left;
		margin-left: 20px;
	}
	
	/* 6-Col Grid Sizes */
	.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5 {
		width: 100px;
	}
	
	/* Sixths */
	.slot-0-1,.slot-1-2,.slot-2-3,.slot-3-4,.slot-4-5 {
		width: 220px;
	}
	
	/* Thirds */
	.slot-0-1-2-3,.slot-1-2-3-4,.slot-2-3-4-5 {
		width: 460px;
	}
	
	/* Two-Thirds */
	.slot-0-1-2-3-4,.slot-1-2-3-4-5 {
		width: 580px;
	}
	
	/* Five-Sixths */
	/* 4-Col Grid Sizes */
	.slot-6,.slot-7,.slot-8,.slot-9 {
		width: 160px;
	}
	
	/* Quarters */
	.slot-6-7-8,.slot-7-8-9 {
		width: 520px;
	}
	
	/* Three-Quarters */
	/* 6-Col/4-Col Shared Grid Sizes */
	.slot-0-1-2,.slot-1-2-3,.slot-2-3-4,.slot-3-4-5,.slot-6-7,.slot-7-8,.slot-8-9 {
		width: 340px;
	}
	
	/* Halves */
	.slot-0-1-2-3-4-5,.slot-6-7-8-9 {
		width: 100%;
	}
	
	/* Full-Width */
	/* Zeroing Out Leftmost Slot Margins */
	.slot-0,.slot-0-1,.slot-0-1-2,.slot-0-1-2-3,.slot-0-1-2-3-4,.slot-0-1-2-3-4-5,.slot-6,.slot-6-7,.slot-6-7-8,.slot-6-7-8-9,.slot-1 .slot-1,.slot-1-2 .slot-1,.slot-1-2 .slot-1-2,.slot-1-2-3 .slot-1,.slot-1-2-3 .slot-1-2,.slot-1-2-3 .slot-1-2-3,.slot-1-2-3-4 .slot-1,.slot-1-2-3-4 .slot-1-2,.slot-1-2-3-4 .slot-1-2-3,.slot-1-2-3-4 .slot-1-2-3-4,.slot-1-2-3-4-5 .slot-1,.slot-1-2-3-4-5 .slot-1-2,.slot-1-2-3-4-5 .slot-1-2-3,.slot-1-2-3-4-5 .slot-1-2-3-4,.slot-1-2-3-4-5 .slot-1-2-3-4-5,.slot-2 .slot-2,.slot-2-3 .slot-2,.slot-2-3 .slot-2-3,.slot-2-3-4 .slot-2,.slot-2-3-4 .slot-2-3,.slot-2-3-4 .slot-2-3-4,.slot-2-3-4-5 .slot-2,.slot-2-3-4-5 .slot-2-3,.slot-2-3-4-5 .slot-2-3-4,.slot-2-3-4-5 .slot-2-3-4-5,.slot-3 .slot-3,.slot-3-4 .slot-3,.slot-3-4 .slot-3-4,.slot-3-4-5 .slot-3,.slot-3-4-5 .slot-3-4,.slot-3-4-5 .slot-3-4-5,.slot-4 .slot-4,.slot-4-5 .slot-4,.slot-4-5 .slot-4-5,.slot-5 .slot-5,.slot-7 .slot-7,.slot-7-8 .slot-7,.slot-7-8 .slot-7-8,.slot-7-8-9 .slot-7,.slot-7-8-9 .slot-7-8,.slot-7-8-9 .slot-7-8-9,.slot-8 .slot-8,.slot-8-9 .slot-8,.slot-8-9 .slot-8-9 {
		margin-left: 0 !important;
	}
	
	/* Important is to avoid repeating this in larger screen css files */
	/* Row Clearfix */
	.row:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	
	.row {
		zoom: 1;
	}
	
	/* @end */
}

/* 992px */
@media only screen and (min-width: 992px) {
	/* @group SimpleGrid */
	
	body {
		font-size: 100%;
	}
	
	.grid {
		width: 966px;
	}
	
	/* Slots Setup */
	.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5,.slot-0-1,.slot-0-1-2,.slot-0-1-2-3,.slot-0-1-2-3-4,.slot-0-1-2-3-4-5,.slot-1-2,.slot-1-2-3,.slot-1-2-3-4,.slot-1-2-3-4-5,.slot-2-3,.slot-2-3-4,.slot-2-3-4-5,.slot-3-4,.slot-3-4-5,.slot-4-5,.slot-6,.slot-7,.slot-8,.slot-9,.slot-6-7,.slot-6-7-8,.slot-6-7-8-9,.slot-7-8,.slot-7-8-9,.slot-8-9 {
		display: inline;
		float: left;
		margin-left: 30px;
	}
	
	/* 6-Col Grid Sizes */
	.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5 {
		width: 136px;
	}
	
	/* Sixths */
	.slot-0-1,.slot-1-2,.slot-2-3,.slot-3-4,.slot-4-5 {
		width: 302px;
	}
	
	/* Thirds */
	.slot-0-1-2-3,.slot-1-2-3-4,.slot-2-3-4-5 {
		width: 634px;
	}
	
	/* Two-Thirds */
	.slot-0-1-2-3-4,.slot-1-2-3-4-5 {
		width: 800px;
	}
	
	/* Five-Sixths */
	/* 4-Col Grid Sizes */
	.slot-6,.slot-7,.slot-8,.slot-9 {
		width: 219px;
	}
	
	/* Quarters */
	.slot-6-7-8,.slot-7-8-9 {
		width: 717px;
	}
	
	/* Three-Quarters */
	/* 6-Col/4-Col Shared Grid Sizes */
	.slot-0-1-2,.slot-1-2-3,.slot-2-3-4,.slot-3-4-5,.slot-6-7,.slot-7-8,.slot-8-9 {
		width: 468px;
	}
	
	/* @end */
}

/* 1236px */
@media only screen and (min-width: 1236px) {
	/* @group SimpleGrid */
	
	body {
		font-size: 1.125em;
	}
	
	.grid {
		width: 1206px;
	}
	
	/* 6-Col Grid Sizes */
	.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5 {
		width: 176px;
	}
	
	/* Sixths */
	.slot-0-1,.slot-1-2,.slot-2-3,.slot-3-4,.slot-4-5 {
		width: 382px;
	}
	
	/* Thirds */
	.slot-0-1-2-3,.slot-1-2-3-4,.slot-2-3-4-5 {
		width: 794px;
	}
	
	/* Two-Thirds */
	.slot-0-1-2-3-4,.slot-1-2-3-4-5 {
		width: 1000px;
	}
	
	/* Five-Sixths */
	/* 4-Col Grid Sizes */
	.slot-6,.slot-7,.slot-8,.slot-9 {
		width: 279px;
	}
	
	/* Quarters */
	.slot-6-7-8,.slot-7-8-9 {
		width: 897px;
	}
	
	/* Three-Quarters */
	/* 6-Col/4-Col Shared Grid Sizes */
	.slot-0-1-2,.slot-1-2-3,.slot-2-3-4,.slot-3-4-5,.slot-6-7,.slot-7-8,.slot-8-9 {
		width: 588px;
	}
	
	/* @end */
}

/* 2x */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {



}

/* @end */